<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.willow.door.admin.doorfile.mapper.DoorFileMapper">
<resultMap id="DoorFileMap" type="com.willow.door.admin.doorfile.domain.DoorFile">
    <!--表主键-->
    <result column="obj_id" property="objId"/>
    <!--创建时间-->
    <result column="create_time" property="createTime"/>
    <!--更新时间-->
    <result column="update_time" property="updateTime"/>
    <!--操作人-->
    <result column="user_id" property="userId"/>
    <!--中文文件名称-->
    <result column="file_name" property="fileName"/>
    <!--中文文件ID-->
    <result column="file_id" property="fileId"/>
    <!--中文文件类型-->
    <result column="file_type" property="fileType"/>
    <!--中文文件大小-->
    <result column="file_size" property="fileSize"/>
    <!--英文文件名称-->
    <result column="file_name_en" property="fileNameEn"/>
    <!--英文文件ID-->
    <result column="file_id_en" property="fileIdEn"/>
    <!--英文文件类型-->
    <result column="file_type_en" property="fileTypeEn"/>
    <!--英文文件大小-->
    <result column="file_size_en" property="fileSizeEn"/>
    <!--产品分类-->
    <result column="catalog_id" property="catalogId"/>
</resultMap>
    <!--列信息-->
    <sql id="column_list">
        obj_id,create_time,update_time,user_id,file_name,file_id,file_type,file_size,file_name_en,file_id_en,file_type_en,file_size_en,catalog_id
    </sql>
    <!--criteria的动态条件-->
    <sql id="criteria_filters">
        <where>
            <if test="criteria.valid">
                <trim prefix="(" suffix=")" prefixOverrides="and">
                    <foreach collection="criteria.criteria" item="criterion">
                        <choose>
                            <when test="criterion.noValue">
                                and ${criterion.condition}
                            </when>
                            <when test="criterion.singleValue">
                                and ${criterion.condition} #{criterion.value}
                            </when>
                            <when test="criterion.betweenValue">
                                and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                            </when>
                            <when test="criterion.listValue">
                                and ${criterion.condition}
                                <foreach collection="criterion.value" item="listItem" open="(" close=")"
                                         separator=",">
                                #{listItem}
                                </foreach>
                            </when>
                        </choose>
                    </foreach>
                </trim>
            </if>
        </where>
    </sql>
    <!--动态条件-->
    <sql id="where_filters">
        <where>
            <if test="objId !=null and objId !=''">
                and obj_id=#{objId}
            </if>
            <if test="createTime !=null and createTime !=''">
                and create_time=#{createTime}
            </if>
            <if test="updateTime !=null and updateTime !=''">
                and update_time=#{updateTime}
            </if>
            <if test="userId !=null and userId !=''">
                and user_id=#{userId}
            </if>
            <if test="fileName !=null and fileName !=''">
                and file_name=#{fileName}
            </if>
            <if test="fileId !=null and fileId !=''">
                and file_id=#{fileId}
            </if>
            <if test="fileType !=null and fileType !=''">
                and file_type=#{fileType}
            </if>
            <if test="fileSize !=null and fileSize !=''">
                and file_size=#{fileSize}
            </if>
            <if test="fileNameEn !=null and fileNameEn !=''">
                and file_name_en=#{fileNameEn}
            </if>
            <if test="fileIdEn !=null and fileIdEn !=''">
                and file_id_en=#{fileIdEn}
            </if>
            <if test="fileTypeEn !=null and fileTypeEn !=''">
                and file_type_en=#{fileTypeEn}
            </if>
            <if test="fileSizeEn !=null and fileSizeEn !=''">
                and file_size_en=#{fileSizeEn}
            </if>
            <if test="catalogId !=null and catalogId !=''">
                and catalog_id=#{catalogId}
            </if>
        </where>
    </sql>
    <!--保存-->
    <insert id="save" parameterType="com.willow.door.admin.doorfile.domain.DoorFile">
        INSERT INTO t_door_file(<include refid="column_list"/>)
        VALUES (#{objId},#{createTime},#{updateTime},#{userId},#{fileName},#{fileId},#{fileType},#{fileSize},#{fileNameEn},#{fileIdEn},#{fileTypeEn},#{fileSizeEn},#{catalogId});
    </insert>

    <!--根据主键查询对象数据-->
    <select id="selectByObjId" parameterType="string" resultMap="DoorFileMap">
        select
        <include refid="column_list"/>
        from t_door_file
        where obj_id=#{objId}
    </select>

    <!--根据主键删除-->
    <delete id="deleteByObjId" parameterType="string">
        delete from t_door_file where obj_id=#{objId}
    </delete>

    <!--根据条件删除-->
    <delete id="deleteByParam" parameterType="map">
        delete from t_door_file
        <include refid="where_filters"/>
    </delete>

    <!--更新-->
    <update id="update" parameterType="com.willow.door.admin.doorfile.domain.DoorFile">
        update t_door_file
        <set>
            obj_id=#{objId},
            create_time=#{createTime},
            update_time=#{updateTime},
            user_id=#{userId},
            file_name=#{fileName},
            file_id=#{fileId},
            file_type=#{fileType},
            file_size=#{fileSize},
            file_name_en=#{fileNameEn},
            file_id_en=#{fileIdEn},
            file_type_en=#{fileTypeEn},
            file_size_en=#{fileSizeEn},
            catalog_id=#{catalogId}
        </set>
        where obj_id=#{objId}
    </update>

    <!--根据主键ID更新不为空的字段-->
    <update id="updateByIdSelective" parameterType="com.willow.door.admin.doorfile.domain.DoorFile">
        update t_door_file
        <set>
            <if test="objId !=null">
                obj_id=#{objId},
            </if>
            <if test="createTime !=null">
                create_time=#{createTime},
            </if>
            <if test="updateTime !=null">
                update_time=#{updateTime},
            </if>
            <if test="userId !=null">
                user_id=#{userId},
            </if>
            <if test="fileName !=null">
                file_name=#{fileName},
            </if>
            <if test="fileId !=null">
                file_id=#{fileId},
            </if>
            <if test="fileType !=null">
                file_type=#{fileType},
            </if>
            <if test="fileSize !=null">
                file_size=#{fileSize},
            </if>
            <if test="fileNameEn !=null">
                file_name_en=#{fileNameEn},
            </if>
            <if test="fileIdEn !=null">
                file_id_en=#{fileIdEn},
            </if>
            <if test="fileTypeEn !=null">
                file_type_en=#{fileTypeEn},
            </if>
            <if test="fileSizeEn !=null">
                file_size_en=#{fileSizeEn},
            </if>
            <if test="catalogId !=null">
                catalog_id=#{catalogId},
            </if>
        </set>
        where obj_id=#{objId}
    </update>

    <!--根据条件查询列表-->
    <select id="queryList" parameterType="map" resultMap="DoorFileMap">
        select
        <include refid="column_list"/>
        from t_door_file
        <include refid="where_filters"/>
        <if test="sortFieldName!=null and sortFieldName!=''">
            ORDER BY
            ${sortFieldName}
            <if test="sortType!=null and sortType!=''">
            ${sortType}
            </if>
        </if>
        <if test="pageFirst!=null">
            limit #{pageFirst},#{pageSize}
        </if>
    </select>

    <!--根据条件查询数量-->
    <select id="countList" parameterType="map" resultType="int">
        select count(*) from t_door_file
        <include refid="where_filters"/>
    </select>


    <!--根据条件查询唯一记录-->
    <select id="selectByCondition" parameterType="map" resultMap="DoorFileMap">
        select
        <include refid="column_list"/>
        from t_door_file
        <include refid="where_filters"/>
    </select>


    <!--根据Criteria方式查询列表-->
    <select id="queryListByCriteria" parameterType="map" resultMap="DoorFileMap">
        select
        <include refid="column_list"/>
        from t_door_file
        <include refid="criteria_filters"/>
        <if test="sortFieldName!=null and sortFieldName!=''">
            ORDER BY
            ${sortFieldName}
            <if test="sortType!=null and sortType!=''">
            ${sortType}
            </if>
        </if>
        <if test="pageFirst!=null">
            limit #{pageFirst},#{pageSize}
        </if>
    </select>

    <!--根据Criteria方式查询数量-->
    <select id="countListByCriteria" parameterType="map" resultType="int">
        select count(*) from t_door_file
        <include refid="criteria_filters"/>
    </select>


</mapper>